*{
    margin: 0;
    border: 0;
    padding: 0;
}
@font-face {
    font-family: meriweather;
    src: url(media/Merriweather-Black.ttf);
}

body{
    background: linear-gradient(135deg, #0fbcec 25%, transparent 25%) -51px 0/ 102px 102px, linear-gradient(225deg, rgba(15,188,236,0.5) 25%, transparent 25%) -51px 0/ 102px 102px, linear-gradient(315deg, #0fbcec 25%, transparent 25%) 0 0/ 102px 102px, linear-gradient(45deg, rgba(15,188,236,0.5) 25%, #56e2c8 25%) 0 0/ 102px 102px;
    background-color: #56e2c8;
}

.content{
    background-color: rgba(0, 0, 0, 0.4);
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    padding: 10px;
    margin-bottom: 20px;
}

.titulo h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: meriweather;
    font-weight: bolder;
    height: 10vh;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.imagenes>img{
    margin: 10px;
    max-height: 300px;
    max-width: 400px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 1px black;
    transition: transform 0.3s, border-radius 0.3s;
    
}
.imagenes>img:hover{
    transform: scale(1.1);
    border: 3px solid #1e1e1e;
    border-radius: 0%;
    filter: brightness(0.852);
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 0px;
    margin-top: 20px;
}

footer h1{
    color: white;
    font-family: meriweather;
}